:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#qr {
  height: 28vmin;
  width: 28vmin;
  background-color: #5551;
  image-rendering: pixelated;
}
#draw {
  height: 70vmin;
  width: 70vmin;
  background-color: #eee;
  transition: all 0.3s;
  cursor: crosshair;
  touch-action: none;
  border-radius: 5px;
}
#draw:hover {
  background-color: #5553;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  gap: 1vmin;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}
