:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#qr {
  height: 20vmin;
  width: 20vmin;
  position: fixed;
  image-rendering: pixelated;
  background-color: #5551;
  z-index: 10;
  top: 0;
  right: 0;
  border-radius: 5px;
  border: 5px solid #fff;
}
#draw {
  height: 90vmin;
  width: 90vmin;
  background-color: #fff;
  transition: background-color 0.3s;
  cursor: crosshair;
  touch-action: none;
  border-radius: 5px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#draw:hover {
  background-color: #5553;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

nav button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 0.5em;
}

nav button:hover {
  background: #0002;
}
